#Bonus {
	color: red;
	font-size: 30px;
}

#container{
	border: 1px solid black;
	height: 600px;
	margin: auto;
	width: 600px;
}

#start_game {
	color: blue;
	cursor: pointer;
	background-color: white;
	padding: 5px;
	box-shadow: 5px 5px 2px #888888;
	border: 1px solid;
    border-radius: 25px;
}

.box {
	border: 1px solid red;
	width: 198px;
	height: 198px;
	float: left;
/*	background-image: url('../img/howard_face.jpg') ;
*/}

.free_throw {
	display: none;
}

body {
	background-image: url('../img/court.jpeg');
	background-size: 100% auto;
}

head {
	margin: auto;
}

h1{
	color: white;
	text-align: center;

}

h2 {
	color: white;
	text-align: center;
}